
.spinner {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.322);
  color: #fff;
  font-size: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}